<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body,
        html {
            height: 100%;
        }

        .centered-form {
            height: 100vh;
            /* Full height viewport */
        }
    </style>
</head>

<body>
    <a href="/" class="p-4">Home</a>
    <div class="container d-flex justify-content-center align-items-center centered-form">
        <div class="col-md-6">
            <h1 class="text-center mb-4">
                <%= title %> Page
            </h1>
            <form action="/auth/login" method="POST" class="p-4 border rounded bg-light">
                <div class="mb-3">
                    <input type="email" name="email" placeholder="Email" required class="form-control">
                </div>
                <div class="mb-3">
                    <input type="password" name="password" placeholder="Password" required class="form-control">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="/auth/register">Don't have an account? Register</a>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>